# =========================
# macOS
# =========================
.DS_Store

# =========================
# Xcode
# =========================
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
*.gcno

# Workspace & user settings
**/xcshareddata/WorkspaceSettings.xcsettings

# =========================
# Swift Package Manager
# =========================
.build/
.swiftpm/
Packages/
SourcePackages/

# =========================
# fastlane
# =========================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/AuthKey.p8
fastlane/api_key.json

# =========================
# CI / build
# =========================
derived_data/

# =========================
# Environment
# =========================
.env

# =========================
# Match (Certificates)
# =========================
*.p12
*.mobileprovision